body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
}

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app a:not([href]) {
  color: #007bff;
  cursor: pointer;
}

.app a:not([href]):hover{
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  margin-bottom: 30px;
  padding: 10px;
}

.title-container {
  text-align: left;
  flex-grow: 1;
}

.chart-links {
  text-align: right;
  flex-shrink: 0;
}

.chart-links-header {
  margin-bottom: 20px;
}

.chart-link {
  margin-bottom: 5px;
}

.search {
  margin: 20px 0;
  display: inline-block;
}

.share-links {
  margin-bottom: 20px;
}

.slider-container {
  margin: 20px auto;
  width: 300px;
}

.footer {
  margin: 50px 0;
}

.loading {
  text-align:center;
}

.chart-container .chart {
  position: relative;
  display: none;
}

.chart-container.line-active .line-chart {
  display: block;
}


.chart-container.logarithmic-line-active .logarithmic-line-chart {
  display: block;
}


.chart-container.bar-active .bar-chart {
  display: block;
}

.chart-selector,
.scale-selector {
  margin-bottom: 20px;
}

.bar-labels {
  position: absolute;
  top: 109px;
  width: 160px;
  font-size: 0.8em;
}

.bar-label {
  height: 30px;
  text-align: right;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
}

.bar-chart-wrapper {
  margin-left: 160px;
}

@media only screen and (max-width: 1080px) {
  .header {
    display: block;
  }

  .title-container,
  .chart-links {
    text-align: center;
  }
}


@media only screen and (max-width: 720px) {
  .header {
    font-size: 0.8em;
  }

  h2 {
    font-size: 1.5em;
  }
}