body {
  min-width: 400px;
}

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.app a:not([href]) {
  color: #007bff;
  cursor: pointer;
}

.app a:not([href]):hover{
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.header {
  display: flex;
  margin-bottom: 30px;
}

.title-container {
  text-align: left;
  flex-grow: 1;
}

.chart-links {
  text-align: right;
  flex-shrink: 0;
}

.search {
  margin: 20px 0;
  display: inline-block;
}

.slider-container {
  margin: 20px auto;
  width: 300px;
}

.footer {
  margin: 50px 0;
}

.loading {
  text-align:center;
}

.chart-container > div {
  position: relative;
  display: none;
}

.chart-container.line-active .line-chart {
  display: block;
}


.chart-container.logarithmic-line-active .logarithmic-line-chart {
  display: block;
}


.chart-container.bar-active .bar-chart {
  display: block;
}



@media only screen and (max-width: 1080px) {
  .header {
    display: block;
  }

  .title-container,
  .chart-links {
    text-align: center;
  }
}


@media only screen and (max-width: 720px) {
  .header {
    font-size: 0.8em;
  }

  h2 {
    font-size: 1.5em;
  }
}